<div class="container">

  <div class="row">
    <h1>Edit contact</h1>
    <% if @contact.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="row">
    <form action="/contacts/<%= @contact.id %>" method="post">
      <input id="_method" name="_method" type="hidden" value="patch">
      <div class="form-group">
        <label for="contact_name">Name</label>
        <input id="contact_name" name="contact[name]" type="text" value="<%= @contact.name %>">
      </div>
      <div class="form-group">
        <label for="contact_phone">Phone</label>
        <input id="contact_phone" name="contact[phone]" type="text" value="<%= @contact.phone %>">
      </div>
      <div class="form-group">
        <label for="contact_email">Email</label>
        <input id="contact_email" name="contact[email]" type="text" value="<%= @contact.email %>">
      </div>
      <input id="id" name="id" type="hidden" value="<%= @contact.id %>">
      <button id="upd-btn" type="submit" class="btn btn-group btn-primary">Update Contact</button>
      <button id="del-btn" type="button" class="btn btn-group btn-primary">Delete Contact</button>
      <p><a href="/contacts">Return to contact listing</a></p>
    </form>
  </div>

</div>
